# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
web-build/
.expo/
.expo-shared/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel

# Testing
coverage/

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
